@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.questionFrame{
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    padding-bottom: 15px;
    
}

.questionFrame .btn{
   margin-left: 15px;
   margin-top: 10px;
}